.home {
    color: white;
    height: 100%;
    .topmenu {
        width: 100%;
    }

    .homeContainer {
        flex: 7;
        color: black;
    }

    .menuContainer {
        color: #000;
    }
    .image {
        color: #000;
        padding-left: 0px;
        margin-bottom: 20px;
    }

    .otherPage4T {
        color: #000;
        width: auto;
        height: auto;
        margin-top: 0px;
        margin-bottom: 20px;
        display: flex;
        background-image: url('../Image/4.PNG');
        background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
        z-index: -1;
        .Training {
            margin-right: 10px;
            margin-left: 100px;
            width: 200px;
            height: 130px;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-radius: 20%;

            .title {
                cursor: pointer;
                font-size: 30px;
                opacity: 0.8;
                color: white;
                width: auto;
                height: auto;
                padding: 5px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            .number {
                font-size: 30px;
                opacity: 0.6;
                color: white;
                width: 100px;
                height: 80px;
                text-align: center;
                font-weight: bold;
                border-radius: 50%;
                margin-bottom: 20px;
                margin-left: 40px;
                align-items: center;
                justify-content: center;
            }
        }
       
    }

    .otherPage {
        color: #000;
        padding-left: 30px;
        width: auto;
        height: auto;
        margin-top: 0px;
        margin-bottom: 50px;
        display: flex;
        background-image: url('../Image/6.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
        .Linkage,
        .Uniquiness,
        .prospect,
        .Resource {
            width: auto;
            height: auto;
            margin-left: 50px;

            .title {
                cursor: pointer;
                font-size: 30px;
                opacity: 0.8;
                color: white;
                width: auto;
                height: auto;
                padding: 10px;
                font-family: Georgia, 'Times New Roman', Times, serif;
            }

            .contts {
                font-size: 25px;
                opacity: 0.9;
                color: white;
                padding: 10px;
                width: auto;
            }
        }
    }

    .disc {
        li{
            list-style: circle;
            margin-left: 20px;
            padding: -10px;
            color: #0B431D;
            font-size: 18px;
            text-transform: capitalize;
            font-family: 'Poppins', sans-serif;
            opacity: 0.5;
            letter-spacing: -1px;
        }
        margin-left: 180px;
        margin-top: 40px;
        margin-bottom: 40px;
        h1 {
            padding-top: 0px;
            color: #051145;
            color: #0B431D;
            font-size: 50px;
            letter-spacing: -5px;
        }

        .more {
            margin-left: 60px;
            border-color: #233b37;
            background-color: #233b37;
            width: 100px;
            height: 40px;
            color: #fff;
            text-transform: capitalize;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 15px;
            font-size: 1rem;
            line-height: 1.6;
            letter-spacing: 0px;
        }
        .moreText{
            display: none;
        }
        .text.show-more .moreText{
            display: inline;
        }
        .text.show-more .dots{
            display: none;
        }

        .img {
            width: 300px;
            height: 100px;
            z-index: -1;
            position: relative;
            margin-left: -100px;
            }

        p {
            font-size: 25px;
            font-family: 'Poppins',sans-serif;
            color: #0B431D;
            font-size: 20px;
            letter-spacing: 1px;
        }
    }
}

.df {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: -100px;

    .disc {
        width: 50%;
    }

    .image {
        width: 50%;
    }
}



.witnessPage{
    display: flex;
    flex-direction: column;
    h1{
    text-align: center;
    border-bottom: 1px solid #000;
    text-transform: capitalize;
    opacity: 0.6;
    font-family: 'Poppins',sans-serif;
    color: #0B431D;
    }
}
.witness{
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins',sans-serif;
    color: #0B431D;
    margin-bottom: 20px;
    .first{
        .names{
            font-weight: bold;
            font-size: 25px;
            text-transform: uppercase;
            opacity: 0.5;
            
        }
        .images{
            width: 200px;
            height: 200px;
            border-radius: 40%;
        }
        .message{
            letter-spacing: 1px;
            word-spacing: 1px;
            margin: 20px;
            font-size: 18px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .home{
      background-color: white;
      .topmenu{
        display: none;
      }
      display: flex;
      flex-direction: column;
      .df{
        display: flex;
        flex-direction: column;
        .disc{
            display: flex;
            flex-direction: column;
            .text{
                width: 400px;
                padding: 5px;
            }
            li{
                width: 600px;
            }
            h1{
                font-size: 40px;
                width: 600px;
                letter-spacing: normal;
            }
          }
      }
      
      .otherPage4T{
        display: none;
      }
      .witnessPage{
        display: flex;
        flex-direction: column;
        .witness{
            display: flex;
            flex-direction: column;
            color: #0B431D;
        }
      }
      .otherPage{
        display: none;
      }
    }
  }