.topmenu{
    display: flex;
    
    justify-content: center;
    // background-color: #72655d;
    // background-color: rgb(188, 186, 186);
    // background-color: rgba(41, 41, 141, 0.705);
    // background-color: #3bb19b;
    // background-color: #428bca;
    // background-color: #4b6692;
    // background: #3a4e70;
    font-size: 30px;
    text-transform: uppercase;
    color: #fff;
    height: 0vh;
    .avater{
        background-color: #3bb19b;
        height: 90px;
        width: 150px;
       
    }
    #right{
        margin-left: 280px;
    }
    .sub{
        flex-direction: column;
        margin-left: 200px;
        .subs{
            text-align: center;            
        }
    }
    li{
        list-style: none;
        margin: 60px;
        align-items: center;
        width: 50px;
        cursor: pointer;
        font-size: 30px;
        margin-top: -3px;
        opacity: 0.5;
        color: #000000;
        opacity: 0.3;
        font-weight: bold;
        .listItem{
            cursor: pointer;
        }
    }
}