.accadamics{
    
    .content{
        margin-left: 30%;
        .mainContent{
        .title{
            color: #0B431D;
            font-size: 18px;
            text-transform: capitalize;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 1px;
            width: 40%;
        }
        .db2{
            width: 200px;
            height: 200px;
        }
        .discription{
            padding-left: 30px;
            color: #0B431D;
            font-size: 15px;
            text-transform: capitalize;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 1px;
            line-height: 2;
            width: 70%;
            margin-right: -100px;

            .more {
                margin-left: 60px;
                border-color: #233b37;
                background-color: #233b37;
                width: 100px;
                height: 40px;
                color: #fff;
                text-transform: capitalize;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 15px;
                font-size: 1rem;
                line-height: 1.6;
                letter-spacing: 0px;
            }
            .moreText{
                display: none;
            }
            .text.show-more .moreText{
                display: inline;
            }
            .text.show-more .dots{
                display: none;
            }
            .img {
                width: 150px;
                height: 50px;
                z-index: -1;
                position: relative;
                margin-left: -100px;
                }

        }
    }
}
}


#slideset1 {height: 10em; position: relative}
#slideset1 > * {visibility: hidden; position: absolute;
    top: 0; left: 0; animation: 12s autoplay1 infinite}
    @keyframes autoplay1 {
        0% {visibility: visible}
        33.33% {visibility: hidden}
      }
      #slideset1 > *:nth-child(1) {animation-delay: 0s}
#slideset1 > *:nth-child(2) {animation-delay: 4s}
#slideset1 > *:nth-child(3) {animation-delay: 8s}



@media only screen and (max-width: 600px) {
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 300px;
        .mainContent{
            display: flex;
            flex-direction: column;
            .p{
                background: #000;
            }
            p{
                width: 400px;               
            }
            img{
                width: 300px;
                height: 150px;
                margin-left: 300px;
            }
        }
    }
}